*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

main #grid-container {
  background-color: #222;
  border: 5px solid #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  height: 600px;
  width: 600px;
}
